<div class="container">
  <div class="well">
    <h1>
      About
      <small>Written more recently than the other pages</small>
    </h1>
    This site was created as a demo for ICS 616 in Fall 2015, first for usability and then as an
    example of how to use the Cucumber testing framework.
  </div>
</div>