<% provide(:title, "ICS 616 Demo - Essays") %>

<div class="container">
  <div class="well">
    <h1>
      Essays
      <small>Written at some point in the past</small>
    </h1>
    <h3>
      Very Like a Whale
      <small>by Ogden Nash</small>
    </h3>

    <p>        
    One thing that literature would be greatly the better for<br />
    Would be a more restricted employment by the authors of simile and metaphor.
    </p>
    <p>
    Authors of all races, be they Greeks, Romans, Teutons or Celts,<br />
    Can't seem just to say that anything is the thing it is but have to go out of their way to say that it is like something else.
    </p>
    <p>
    What does it mean when we are told<br />
    That that Assyrian came down like a wolf on the fold?
    </p>
    <p>
    In the first place, George Gordon Byron had enough experience<br />
    To know that it probably wasn't just one Assyrian, it was a lot of Assyrians.
    </p>
    <p>
    However, as too many arguments are apt to induce apoplexy and thus hinder longevity.<br />
    We'll let it pass as one Assyrian for the sake of brevity.
    </p>
    <p>
    Now then, this particular Assyrian, the one whose cohorts were gleaming in purple and gold,<br />
    Just what does the poet mean when he says he came down like a wolf on the fold?
    </p>
    <p>
    In heaven and earth more than is dreamed of in our philosophy there are great many things.<br />
    But I don't imagine that among them there is a wolf with purple and gold cohorts or purple and gold anythings.
    </p>
    <p>
    No, no, Lord Byron, before I'll believe that this Assyrian was actually like a wolf I must have some kind of proof;<br />
    Did he run on all fours and did he have a hairy tail and a big red mouth and big white teeth and did he say Woof Woof?
    </p>
    <p>
    Frankly I think it is very unlikely, and all you were entitled to say, at the very most,<br />
    Was that the Assyrian cohorts came down like a lot of Assyrian cohorts about to destroy the Hebrew host.
    </p>
    <p>
    But that wasn't fancy enough for Lord Byron, oh dear me no, he had to invent a lot of figures of speech and then interpolate them,<br />
    With the result that whenever you mention Old Testament soldiers to people they say Oh yes, they're the ones that a lot of wolves dressed up in gold and purple ate them.
    </p>
    <p>
    That's the kind of thing that's being done all the time by poets, from Homer to Tennyson;<br />
    They're always comparing ladies to lilies and veal to venison,
    </p>
    <p>
    And they always say things like that the snow is a white blanket after a winter storm.<br />
    Oh it is, is it, all right then, you sleep under a six-inch blanket of snow and I'll sleep under a half-inch blanket of unpoetical blanket material and we'll see which one keeps warm,
    </p>
    <p>
    And after that maybe you'll begin to comprehend dimly<br />
    What I mean by too much metaphor and simile.        
    </p>
  </div>
</div>