<% provide(:title, "ICS 616 Demo") %>

<div class="container">
  <div class="well">
    <h1>Home</h1>
    This is sample text.<br />
    However, it is very difficult for me to generate large amounts of sample text.<br />
    Therefore, the rest of the text on this home page is from <a href="http://puzzling.stackexchange.com/questions/15097/who-shall-come-to-the-tea-party">here</a>.
    <br />
    
    <h2>Who shall come to the tea party?</h2>
    <p>All of your stuffed animals are assembled, anxiously waiting to learn who will be be invited as the Guest of Honor to your next tea party.  </p>

    <p>This is to be an exclusive party, after all, as there is to be only <em>one</em> Guest of Honor.  This is by necessity, because you have only two strawberry pastries, and you obviously intend to eat one of those yourself. (Cook was most annoyed with you for taking so many infinite bags of pastries yesterday, and has since cut off your supply).  All the other guests at the tea party shall only receive tea.</p>

    <p>So now you must decide which of your many guests will be the Guest of Honor, who receives the coveted strawberry pastry.</p>

    <p>Your first instinct, of course, is to invite the valiant Mr. Bun to be the Guest of Honor.  After all, he's brave and noble and always tells the truth.  But then you think of poor insidious Duke Froggington II, who admittedly is dastardly and always lies, but in your heart you know that these character flaws are only due to his tragic childhood.  You see, the perfidious Duke Froggington II grew up all alone in a dank 30-meter well, trying to leap his way to light and freedom.  You know what that's like, and your heart aches for him.  And there are similar reasons why you might choose almost any of the six dozen other stuffed animals that pack every available surface in your bedroom.</p>

    <p>No, you find that you're completely unable to decide which stuffed animal should be the Guest of Honor at your tea party, and so you instead devise a game for the stuffed animals to play, to determine the Guest of Honor fairly.</p>

    <p>The game works in this way:</p>

    <p>First, you choose Mr. Bun as the initial nominee as Guest of Honor.  He's the obvious first candidate, as the noblest of all your stuffed animals.</p>

    <p>Then, starting with the nefarious Duke Froggington II and descending through the other stuffed animals in order of seniority and ending with Peanut (an ugly mouse given to you by your annoying older sister at your last birthday fête, and usually tucked far back in your dresser behind your latin coursebooks), each stuffed animal still in attendance is asked if they wish to declare themselves to be the new nominee as Guest of Honor.  If they do, then they become the new nominee, and the previous nominee is returned to the toy chest, where they must remain until after the tea party.</p>

    <p>Whenever the nominee changes, the whole process starts again;  Every animal (in order of seniority, and starting with the most senior remaining animal) is given a fresh opportunity to nominate themselves, even if they had previously chosen not to.  As before, if an animal chooses to nominate themselves, the current nominee is returned to the toy chest, and may not attend the tea party.</p>

    <p>This process continues until no further stuffed animals wish to declare themselves as the nominee.</p>

    <p>Once no more stuffed animals wish to make themselves the nominee, whoever remains as the nominee shall become the Guest of Honor and will receive a strawberry pastry at the tea party.  The other remaining stuffed animals shall receive tea.  Any stuffed animals in the toy chest get nothing. (At least, not until they're brought out again for the next tea party (which will likely be in ten minutes or so))</p>

    <p>A few obvious points which you know instinctively are:</p>

    <ul>
    <li>All stuffed animals <em>love</em> strawberry pastries (as does everyone of refinement and distinction.  Peanut would probably love strawberry pastries too, despite having neither refinement nor distinction, though you've certainly never wasted one on her, even yesterday when you had several infinite supplies of them).  This means that each stuffed animal dearly wishes to be the Guest of Honor.</li>
    <li>All stuffed animals like tea, so none of them wish to completely miss the party by being put back into the toy chest.</li>
    <li>All stuffed animals are perfect logicians (I mean, obviously.  Do I even need to mention this?)</li>
    <li>Stuffed animals don't hold grudges against one another;  they will remain fast friends even if one sends another to the toy chest.  On the contrary, they will recognise that it was the only logical thing to do, and will probably laugh about it at your next tea party, later this afternoon.</li>
    <li>While the treacherous Duke Froggington II always lies, you've long since adapted to that, and aren't ever confused any more about what he means when he tells you which door leads to certain doom and which leads to your afternoon Latin classes (though you're still not convinced that there's actually much of a difference between the two).  Similarly, there will be no confusion on your part about whether or not he wishes to become the new nominee, regardless of what lies he might say.</li>
    <li>For the sake of clarity, you have six dozen and two stuffed animals in total.  With Mr. Bun as your favourite, the despicable Duke Froggington II as your second favourite, and Peanut as your least favourite.  Other stuffed animals may be identified by number, with the next animal after the treacherous Duke Froggington II being number 3.</li>
    </ul>

    <p><strong>Of your stuffed animals, how many will attend your tea party, and which will be the Guest of Honor?</strong></p>        
  </div>
</div>
