<% provide(:title, "ICS 616 Demo - Quotes") %>

<div class="container">
  <div class="well">
    <h1>
      Quotes
    </h1>
    <ul>
      <li>Help stamp out and abolish redundancy!</li>
      <li>A closed mouth gathers no feet.</li>
      <li>Schizophrenia beats being alone.</li>
      <li>After all is said and done, usually more is said than done.</li>
      <li>If rabbits' feet are so lucky, what happened to the rabbit?</li>
      <li>Be alert!  We need more lerts.</li>
      <li>Time is just nature's way of keeping everything from happening at once.</li>
      <li>I'm all for computer dating, but I wouldn't want one to marry my sister.</li>
      <li>Time flies like an arrow.  However, fruit flies like bananas.</li>
      <li>Reality is for people who can't face science fiction.</li>
      <li>No problem is so formidable that you can't just run away from it.</li>
      <li>While money can't buy you happiness, it certainly lets you choose your own form of misery.</li>
      <li>You can fool some people all of the time, and you can fool all people some of the time, but you can make a fool of yourself anytime.</li>
      <li>Never stand between a fire hydrant and a dog.</li>
      <li>Remember, the fact that you're paranoid doesn't mean that they're NOT out to get you!</li>
      <li>Eschew Obfuscation!</li>
      <li>Atlas Shrugged starts with the line, "Who is John Galt?"  By the end of the novel, the reader has a different question: "When will John Galt shut up?" </li>
      <li>There are 10 types of people in this world: those who know binary and those who do not.</li>
      <li>There are 3 types of people in this world: those who can count and those who cannot.  </li>
      <li>There are three ways to know that you are getting old.  First, there is the loss of memory.  Second... darn it, I can't remember the other two.</li>
      <li>A juvenile delinquent is someone who plays his Saxophone too loud.</li>
      <li>The average Saxophonist is egotistical enough to believe that he can play a duet by himself.</li>
      <li>Why couldn't our Founding Fathers have fought for representation without taxation?</li>
      <li>Freedom of speech is the right to talk about issues that you do not understand.</li>
      <li>It is very difficult to teach children the alphabet these days.  They all think that "V" comes right after "T."</li>
      <li>Look on the bright side!  Whenever a car is stolen, a new parking space opens up!</li>
      <li>In America, people drive on the right side of the road.  In England, people drive on the left side of the road.  In Hawaii, people drive in the shade.</li>
      <li>Bigamy is having one spouse too many.  Monogamy is sometimes the same.</li>
      <li>I have nothing against political jokes.  I just wonder how they ever got elected.</li>
      <li>An election year is a period when the Republicans and Democrats devote their time to saving the country from each other. </li>
      <li>An election is a system where We the People decide which politicians we want to screw up the nation for us.</li>
      <li>Having four years between elections is a good thing.  It takes us that long to regain our faith in the system.</li>
      <li>If our politicians are so concerned about human suffering, they should look at the average American taxpayer.</li>
      <li>Darwin proposed that humans came from apes.  Politicians prove that it could go either way.</li>
      <li>Diplomacy is the art of saying "Nice doggy, nice doggy" until you can find a stick.</li>
      <li>Don't be unhappy if your dreams never come true--be thankful that your nightmares don't. </li>
      <li>The average college student can walk past the local YMCA and think that they spelled Macy's wrong.</li>
      <li>Statisticians collect facts, then draw their own confusions.</li>
      <li>Why will tourists travel thousands of miles away from anyone they know, and then send back cards saying "Wish you were here?"</li>
    </ul>
  </div>
</div>