<footer class="container">
  <div class="row">
    <div class="col-sm-4">
      This is where the tagline for our organization would be if we were not too lazy to think of one.
    </div>
    <div class="col-sm-4">
      <h4>Links</h4>
      <div><a href="quotes.html">Quotes</a></div>
      <div><a href="essays.html">Essays</a></div>
      <div><a href="cats_captions.html">Cats with Captions</a></div>
      <div><a href="cats_no_captions.html">Cats without Captions</a></div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</footer>