<nav class="navbar navbar-default">
  <div class="navbar-header">
    <%= link_to "ICS 616 Demo", root_path, class: "navbar-brand" %>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="quotes.html">Quotes</a></li>
    <li><a href="essays.html">Essays</a></li>
    <li><a href="cats_captions.html">Cats with Captions</a></li>
    <li><a href="cats_without_captions.html">Cats without Captions</a></li>
  </ul>
</nav>